.slade {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: hsla(0, 0%, 0%, .2);
}

* {
    margin: 0;
    padding: 0;
}

#delsigndiv {
    width: 80px;
    background: rgba(78, 78, 78, 1);
    position: absolute;
    display: none;
    box-shadow: 2px 2px 7px #888888;
    border-radius: 5px;
}

#delsigndiv ul {
    list-style: none;
    border: 2px solid #666;
    border-bottom: 0px;
    border-radius: 4px;
}

#delsigndiv ul li {
    height: 30px;
    color: rgba(255, 255, 255, 1);
    line-height: 30px;
    text-align: center;
    border-bottom: 2px solid #666;
    cursor: default;
}

/* 上传弹窗 */

.upload-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 637px;
    height: 187px;
    margin-left: -318.5px;
    margin-top: -93.5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #fff;
    box-sizing: border-box;
    font-size: 13px;
}

.upload-title {
    padding: 20px;
    margin-top: -3px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: baseline;
}

.upload-header {
    text-decoration: none;
    font-size: 13px;
    color: #777;
    padding-left: 20px;
    cursor: pointer;
}

.upload-header div {
    padding: 7px;
}

.upload-header div:first-child {
    margin-right: 10px;
}

.upload-header div.cur {
    background: #F5F5F5;
    border: 1px solid #CCC;
    border-bottom: 0;
    color: #222;
}

.upload-body {
    background: #F5F5F5;
    border-top: 1px solid #CCC;
    color: #222;
    padding: 20px;
    height: 51px;
}

.network-input {
    width: 500px !important;
    margin: 0;
    padding: 0 0 0 15px;
    vertical-align: top;
    width: 100%;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
}

.upload-network .upload-submit {
    background-color: #4d90fe;
    display: inline-block;
    font-weight: bold;
    line-height: 29px;
    min-width: 54px;
    padding: 0 10px;
    margin-left: 10px;
    height: 37px;
    text-align: center;
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.upload-close {
    position: absolute;
    font-size: 16px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #f00;
}

.l {
    float: left;
}

.r {
    float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *+height: 1%;
}

.hidden {
    display: none;
}

.signpad-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -100px;
    display: none;
    z-index: 10001
}

.ui-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    margin-top: -185px;
    margin-left: -285px;
    width: 570px;
    height: 370px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 6px;
    outline: 0;
    font-size: 14px;
    font-family: Helvetica, arial, sans-serif;
}

.ui-popup-header {
    white-space: nowrap;
    border-bottom: 1px solid #e5e5e5;
}

.ui-popup-title {
    margin: 0;
    line-height: 1.428571429;
    min-height: 16.428571429px;
    padding: 10px 10px 10px 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    cursor: default;
}

.ui-popup-close {
    position: relative;
    _position: absolute;
    float: right;
    top: 9px;
    right: 13px;
    _height: 26px;
    padding: 0 4px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #FFF;
    opacity: .2;
    filter: alpha(opacity=20);
    cursor: pointer;
    background: transparent;
    _background: #FFF;
    border: 0;
    -webkit-appearance: none;
}

.ui-popup-body {
    padding: 10px;
    text-align: center;
}

.ui-popup-content {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: left;
}

.ep-title {
    font-weight: bold;
}

.ep-title .ep-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    vertical-align: -18px;
    margin-left: 5px;
}

.ep-title.success .ep-icon {
    background-image: url("./images/sign-check-48.png");
}

.ep-title.error .ep-icon {
    background-image: url("./images/sign-error-48.png");
}

.ep-content {
    padding: 10px;
    border-top: none;
}

.ep-tab .ep-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #ddd;
}

.ep-nav > li {
    float: left;
    margin-bottom: -1px;
    position: relative;
    display: block;
    list-style: none;
}

.ep-nav>li>a {
    position: relative;
    display: block;
    padding: 8px 15px;
    cursor: pointer;
    color: #353535;
    -webkit-transition: all .2s cubic-bezier(.175,.885,.32,1);
    transition: all .2s cubic-bezier(.175,.885,.32,1);
    margin-right: 2px;
    text-decoration: none;
    line-height: 1.53846154;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.ep-nav>li.active>a, .ep-nav>li.active>a:focus, .ep-nav>li.active>a:hover {
    color: grey;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.ep-tab--content {
    height: 200px;
    min-width: 500px;
    overflow: auto;
    border: 1px #ddd solid;
    border-top: none;
}

.ep-tab--content .ep-tab-pane {
    display: none;
}

.ep-tab--content .ep-tab-pane.active {
    display: block;
}

.ep-meta {
    padding: 10px 10px 0px 10px;
}

.ep-item {
    margin-top: 3px;
}

.ep-meta .ep-label {
    width: 16%;
    float: left;
    display: inline-block;
    text-align: right;
    font-weight: bold;
}

.ep-meta .ep-value {
    width: 84%;
    float: left;
    display: inline-block;
    text-align: left;
    word-break: break-all;
    line-height: 1.428571429;
}

.ep-a-cert {
    color: grey;
    cursor: pointer;
    height: 21px;
    line-height: 21px;
    margin-left: 5%;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.ui-popup-close:hover, .ui-popup-close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    opacity: 0.5;
}

section[data-annotation-id]:hover {
    border: 2px dashed rgba(173, 173, 173, 173);
}